*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3rem;
  line-height: 1.5;

  max-width: 100vw;
  min-height: 100vh;
}

/* ##################################calculator################################# */

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    45deg,
    teal,
    rgb(57, 156, 180),
    rgb(94, 164, 182)
  );
}

.calculator {
  width: 40rem;
  height: 50rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px gray;

  display: flex;
  flex-direction: column;
}
.calculator__display {
  height: 10rem;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  background-color: rgb(58, 57, 57);
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__keys {
  height: 40rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-gap: 0.1rem;
}

.calculator__keys button {
  border: 0;
}

.calculator__keys button:hover {
  filter: brightness(120%);
}

.equals {
  background-color: orange;

  grid-column: 4 / 5;
  grid-row: 3 / 6;
}

.number {
  background-color: rgb(243, 241, 241);
}

.operation {
  background-color: rgb(209, 207, 207);
}

.is-depressed:active {
  background-color: teal;
}
